@media only screen and (max-width : 1599px) {
	.header .text_header .sticker{
		display: none;
	}
	.furniture ul{
		max-width: 700px;
	}
	.advantage .text_block{
		background-image: none;
	}
	.advantage .text_block ul{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-left: 20px;
		max-width: 700px;	
	}
	.advantage .text_block ul li{
		margin: 0 !important;
		line-height: 32px;		
		padding-bottom: 23px;
		flex: 0 1 400px;
	}
}
@media only screen and (max-width : 1280px) {
	.header .text_header .left{
		margin-left: 50px;
	}
	.header .text_header .bottom .description{
		display: none;
	}
	.header .text_header .bottom .btn-primary{
		margin-top: 49px;
	}
}


@media only screen and (max-width : 664px) {/*610px*/
	.main{
		margin: 0;
	}
	.sidebar{
		display: none;
	}
	.sidebar_drop{
		display: block;
	}
}
@media only screen and (min-width : 665px) {
	.sidebar.collapse{
		display: block;
	}
}