@font-face {
	font-family: "Rex";
	src: url("fonts/rex-bold-webfont.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "GothamPro";
	src: url("fonts/GothamProRegular/GothamProRegular.eot");
	src: url("fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
	url("fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
	url("fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "GothamPro";
	src: url("fonts/GothamProLight/GothamProLight.eot");
	src: url("fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
	url("fonts/GothamProLight/GothamProLight.woff") format("woff"),
	url("fonts/GothamProLight/GothamProLight.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: "GothamPro";
	src: url("fonts/GothamProMedium/GothamProMedium.eot");
	src: url("fonts/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
	url("fonts/GothamProMedium/GothamProMedium.woff") format("woff"),
	url("fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: "GothamPro";
	src: url("fonts/GothamProBold/GothamProBold.eot");
	src: url("fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
	url("fonts/GothamProBold/GothamProBold.woff") format("woff"),
	url("fonts/GothamProBold/GothamProBold.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}

ul,li{
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none !important;
}
.clearfix:after{
	content: '';
	clear: both;
	display: block;
}
body{
	font-family: "Rex", sans-serif;
}
input::-webkit-input-placeholder {
	opacity: 0.3;
}
input::-moz-placeholder{
	opacity: 0.3;
}
input:-moz-placeholder{
	opacity: 0.3;
}
input:-ms-input-placeholder{
	opacity: 0.3;
}
a,
a:hover,
a:visited,
a:active{
	text-decoration: none !important;
	outline: none !important;
}
a.a_black{
	border-bottom: 1px solid rgba(50,50,80, 0);
}
a.a_black:hover{
	border-bottom: 1px solid rgba(0,0,0, 0.3);
}
.btn-primary,
.btn-primary:active,
.btn-primary:visited{
	font-family: "GothamPro", sans-serif;
	color:  #fec300;
	font-size: 14px;
	font-weight: 700;	
	background-color: transparent !important;
	border-color: #fec300;
	color: #fec300;
	border-radius: 0;
	padding: 9px 50px !important;
}
.btn-primary:hover{
	background-color: #fec300 !important;
	color:  #fff;
}
.line_pattern{
	background: linear-gradient(-45deg, rgba(0, 0, 0, 0.01) 49.9%, rgba(0, 0, 0, 0.1) 49.9%, rgba(0, 0, 0, 0.1) 60%, 
		rgba(0, 0, 0, 0.01) 60%), linear-gradient(-45deg, rgba(0, 0, 0, 0.1) 10%, rgba(0, 0, 0, 0.01) 10%);
	background-size: 10px 10px;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;	
}
.text_block{
	min-height: 899px;
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	z-index: 11; 
	background-color: rgba(222,222,222,0.90);
}
.text_block .title{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 42px;
}
.text_block .title h3{
	flex: 0 1 500px;
	text-align: center;
	font-size: 36px;
	margin-top: 120px;
	text-transform: uppercase;
	padding: 0 10px;
}
.slick-arrow{	/* default arrows slider "Slick" */
	display: none !important;
}




.container_main{
	max-width: 1600px;
	margin: 0 auto;
}
.sidebar{
	background-color: #f7f7f7;
	width: 311px;
	position: fixed;
}
.sidebar .logo{
	display: block;
	width: 235px;
	height: 120px;
	background: url("img/logo.png");
	margin: 60px 0 23px 50px;
}
.sidebar .insta{
	color:  #000000;
	font-size: 16px;
	text-transform: uppercase;
	margin-left: 57px;
}
.sidebar .nav{
	float: none;
	margin: 82px  0 0 60px;
}
.sidebar .nav li{
	float: none;
}
.sidebar .nav > li{
	margin: 23.5px 0;
}
.sidebar .nav li a{
	color: #9d9d9d;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
.sidebar .nav li a{
	background-color: transparent;
	border-bottom: 1px solid rgba(0,0,0, 0);
	display: inline-block;
	padding: 0;	
}
.sidebar .nav li li a{
	margin-left: 17px;
}
.sidebar .nav li:hover > a{
	background-color: transparent;
	border-bottom: 1px solid rgba(157,157,157, 0.3);
}	
.sidebar .nav > li.active{
	position: relative;
}
.sidebar .nav > li.active > a{
	color: #000;
	margin-left: 55px;
}
.sidebar .nav > li.active:before{
	content: '';
	width: 30px;
	height: 3px;
	display: block;
	background-color: #f0c02e;
	position: absolute;
	top: 9px;
	left: 15px;
}
/*.sidebar .dropdown:hover > .dropdown-menu{
	display: block;
}*/
.sidebar .tel{
	font-family: "GothamPro", sans-serif;
	color: #000000;
	font-size: 14px;
	font-weight: 400;
	margin: 118px 0 18px 60px;
	display: inline-block;
}
.sidebar .tel span{
	font-weight: 500;
}
.sidebar .mail{
	font-family: "GothamPro", sans-serif;
	color: #000000;
	font-size: 14px;
	font-weight: 300;
	margin-left: 61px;
	display: inline-block;
}
.sidebar .mail span{
	font-weight: 500;
}









.main{
	margin-left: 311px;
}
.header{
	position: relative;
	height: 900px;
}
.header .slider_header {
	margin: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9; 	
}
.header .slider_header .slide{
	height: 900px;
}

.header .slider_header .slide img{
	overflow: hidden;
}
.header .slider_header .slick-dots{
	width: auto;
	bottom: 60px;
	left: 160px;
	z-index: 15;
}
.header .slider_header .slick-arrow{
	display: none !important;
}
.header .slider_header .slick-dots li button:before{
	position: absolute;
	display: block;    
	top: 0;
	left: 0;
	width: 15px;
	height: 15px;
	background-color: transparent;
	border-radius: 50%;
	content: '';
	text-align: center;
	-webkit-font-smoothing: antialiased;
	opacity: 1;
	border: 2px solid #fec300;    
}
.header .slider_header .slick-dots li.slick-active button:before{
	background-color: #fec300;
}
.header .text_header{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10; 
	background-color: rgba(33,34,0,0.58);
}
.header .text_header .left{
	float: left;
	max-width: 700px;
	margin-left: 161px;
}
.header .text_header .left h1{
	color:  #fec300;
	font-size: 48px;
	width: 580px;
	margin-top: 250px;
}
.header .text_header .left h1 span{
	padding-top: 14px;
	display: inline-block;
}
.header .text_header .left .text{
	width: 697px;
	font-family: "GothamPro", sans-serif;
	color:  #ffffff;
	font-size: 18px;
	font-weight: 400;
	margin-top: 40px;
}
.header .text_header .sticker{
	float: right;
	background: url("img/sticker_header.png") no-repeat;
	width: 170px;
	height: 175px;
	margin-top: 258px;
	margin-right: 161px;
}
.header .text_header .bottom{
	position: absolute;
	bottom: 60px;
	right: 0;
	margin-top: 357px;
	margin-right: 161px;
}
.header .text_header .bottom .description{
	width: 140px;
	font-family: "GothamPro", sans-serif;
	color:  #ffffff;
	font-size: 14px;
	font-weight: 400;
}
.header .text_header .bottom .btn-primary{
	margin-top: 10px;
}



/*2*/
.furniture{			
	background: url("img/bg2.jpg") no-repeat;
	position: relative;
}
.furniture ul,
.furniture ul li,
.furniture ul li .text,
.furniture ul li .num{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.furniture ul{
	flex-wrap: wrap;
	justify-content: center;
}
.furniture ul li{
	margin: 0 80px 30px;
}
.furniture ul li .text{
	font-family: "GothamPro", sans-serif;
	color: #000000;
	font-size: 18px; 
	font-weight: 400;
	width: 410px;
	/*justify-content: space-between;*/
}
.furniture ul li .num{
	font-size: 72px;
	background: linear-gradient(#f9e7b1, #c29a3c);
	-webkit-background-clip: text;
	color: transparent;
	left: -72px;
}
.furniture ul li .text span{
	font-weight: 700;
	display: inline;
}



/*3*/
.advantage{
	background: url("img/bg3.jpg");
	position: relative;
}
.advantage .text_block{
	background-image: url('img/logo_and_stick.png');
	background-repeat: no-repeat;
	background-position: center center;
}
.advantage .text_block ul{
}
.advantage .text_block ul li{
	line-height: 43px;
	background: url("img/ring.png") no-repeat;
	font-family: "GothamPro", sans-serif;
	color:  #000000;
	font-size: 18px;
	font-weight: 500;
	padding-left: 18px;
}
.advantage .text_block ul li:nth-child(1){
	margin-left: 16%;
	margin-top: 0px;
}
.advantage .text_block ul li:nth-child(2){
	margin-left: 58%;
	margin-top: -11px;
}
.advantage .text_block ul li:nth-child(3){
	margin-left: 9%;
	margin-top: 66px;
}
.advantage .text_block ul li:nth-child(4){
	margin-left: 68%;
	margin-top: -30px;
}
.advantage .text_block ul li:nth-child(5){
	margin-left: 14%;
	margin-top: 110px;
}
.advantage .text_block ul li:nth-child(6){
	margin-left: 61%;
	margin-top: -20px;
}
.advantage .text_block ul li:nth-child(7){
	margin-left: 42%;
	margin-top: 55px;
}


/*4*/
.work{
	background: url("img/bg4.jpg");
	position: relative;
}
.work .text_block ul{
	text-align: right;
	margin: 0 30px;
}
.work .text_block .nav li{
	display: inline-block;
}
.work .text_block .nav a{
	background-color: transparent;
	border: 1px solid transparent;	
	font-family: "GothamPro", sans-serif;
	color:  #8e8d8c;
	font-size: 18px;
	font-weight: 500;
	padding: 0;
	margin: 0 0 0 7px;
}
.work .text_block .nav a:hover{
	border-bottom: 1px solid rgba(142,141,140, 0.3);
}
.work .text_block .nav li:nth-child(2) a{
	margin-left: 50px;
}
.work .text_block .nav li.active a{
	color: #000;
}
.work .text_block .tab-pane{
	text-align: center;
	margin-top: 136px;
	position: relative;
}
.work .text_block .tab-pane .arrow{
	text-align: right;
	margin-bottom: 20px;
}
.work .text_block .tab-pane .arrow .fa{
	margin-right: 30px;
	cursor: pointer;
	font-size: 20px;
}
.work .text_block .tab-pane .arrow .fa:hover{
	opacity: 0.3;
}	
.work .text_block .tab-pane .slide{
	outline: none;
	font-family: "GothamPro", sans-serif;
	color:  #000000;
	font-size: 18px;
	font-weight: 500;
}
.work .text_block .tab-pane .slide img{
	padding-bottom: 20px;
	margin: 0 auto;
}






/*5*/
.team{
	background: url("img/bg5.jpg");
	position: relative;
}
.team .text_block .arrow{
	text-align: right;
	margin-bottom: 20px;
}
.team .text_block .arrow .fa{
	margin-right: 30px;
	cursor: pointer;
	font-size: 20px;
}
.team .text_block .arrow .fa:hover{
	opacity: 0.3;
}	
.team .text_block .slide{
	outline: none;
	display: block;
}
.team .text_block .slide img{
	margin: 0 auto;
}
.team .text_block .slide span{
	display: block;
	text-align: center;
	font-family: "GothamPro", sans-serif;
	color: #000000;
	font-size: 18px; 
	font-weight: 400;
}
.team .text_block .slide span.name{
	font-size: 24px; 
	font-weight: 500;
}
.team .text_block .slide span.post{
	margin-top: 10px;
}



/*6 not-bg*/
.certificates{
	position: relative;
}
.certificates .text_block .title{
	margin-bottom: 100px;
}
.certificates .text_block .arrow{
	text-align: right;
	margin-bottom: 20px;
}
.certificates .text_block .arrow .fa{
	margin-right: 30px;
	cursor: pointer;
	font-size: 20px;
}
.certificates .text_block .arrow .fa:hover{
	opacity: 0.3;
}	
.certificates .text_block .slide{
	outline: none;
	display: block;
}
.certificates .text_block .slide img{
	padding-bottom: 20px;
	margin: 0 auto;
}




/*7*/
.contacts{
	background: url("img/bg7.jpg") no-repeat;
	position: relative;
}
.contacts .blocks{
	margin: 0 auto; 
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-around;
}
.contacts .left{
	width: 484px;	
	margin: 0 20px;
}
.contacts .left img{
	width: 100%;
	max-width: 484px;	
}
.contacts .left .address{
	font-family: "GothamPro", sans-serif;
	color: #000000;
	font-size: 18px; 
	font-weight: 500;
	margin-bottom: 18px;
}
.contacts .left .links{
	width: 200px;
}
.contacts .left .links .tel{
	font-family: "GothamPro", sans-serif;
	color: #000000;
	font-size: 14px;
	font-weight: 500;
	display: inline-block;
}
.contacts .left .links .mail{
	font-family: "GothamPro", sans-serif;
	color: #000000;
	font-size: 14px;
	font-weight: 500;
	margin-top: 18px;
	margin-bottom: 18px;
	display: inline-block;
}
.contacts .right{
	width: 350px;
	text-align: center;
	margin: 0 20px;
}
.contacts .right h4{
	font-family: "GothamPro", sans-serif;
	color: #000000;
	font-size: 24px; 
	font-weight: 700;
	text-align: center;
	margin-top: 150px;
	margin-bottom: 30px;
}
.contacts .right span{
	font-family: "GothamPro", sans-serif;
	color: #000000;
	font-size: 18px; 
	font-weight: 400;
	text-align: center;
	display: block;
	margin-bottom: 46px;
}
.contacts .right input{
	width: 100%;
	height: 50px;
	padding: 0 25px;
	font-family: "GothamPro", sans-serif;
	color:  #908f8f;
	font-size: 18px;
	font-weight: 400;
	background-color: transparent;
	border: 2px solid #959595;
	outline: none;
	letter-spacing: 0.05em;
}
.contacts .right .input_name{
	margin-bottom: 30px;
}
.contacts .right .btn-primary{
	margin-top: 41px;
	margin-bottom: 50px;
}